mixin modal(id, title, subtitle)
  .modal(id=id class="modal")
    .modal__container
      +button(null, "btn-close", "close")
      .modal__content
        h2.modal__title #{title}
        h6.modal__subtitle #{subtitle}
        form.modal__form(action="!#" method="POST")
          block
