section.buttonsSection
  h2.buttonsSection__title Buttons
  .buttonsSection__container
    h3.buttonsSection__subtitle Button Primary
    +button('Попробовать бесплатно', 'btn-primary', null)
    h3.buttonsSection__subtitle Button Secondary
    +button('Попробовать бесплатно', 'btn-secondary',  null)
    h3.buttonsSection__subtitle Button Text
    h3.buttonsSection__box
      +link('Button', 'btn-text',  null, 'https://google.com/')   
      +link('Button', 'btn-text-icon', 'check', 'https://google.com/')   
      +link('Button', 'btn-icon-text', 'check', 'https://google.com/')
    h3.buttonsSection__subtitle Button Circle White
    +link(null, 'btn-circle', 'arrow', 'https://google.com/')
    h3.buttonsSection__subtitle Button Icon
    +link(null, 'btn-icon', 'arrow', 'https://google.com/')
    h3.buttonsSection__subtitle Button Close
    +button(null, 'btn-close', 'close')