section.dropdownSection
  h2.dropdownSection__title Dropdown
  .dropdownSection__container
    +dropdown([
      { text: "Text1", value: "option1" },
      { text: "Text2", value: "option2" },
      { text: "Text3", value: "option3" }
    ])