section.headingsSection
  h2.headingsSection__title Titles
  .headingsSection__container
    +heading('h1', 'Title Extra Large')
    +heading('h2', 'Title Large')
    +heading('h3', 'Title Medium')
    +heading('h4', 'Title Small')
