section.inputsSection
  h2.inputsSection__title Inputs
  .inputsSection__container
    +input('Label', 'default', '', '')
    +input('Label', 'text', 'Text', '')
    +input('Label', 'active', '', '')
    +input('Label', 'error', 'Text','Supporting text')