section.textSection
  h2.textSection__title Body text
  .textSection__container
    +text('Body text', 'body-text-22')
    +text('Body text', 'body-text-20')
    +text('Body text', 'body-text-18')
    +text('Body text', 'body-text-16')
    +text('Body text', 'body-text-14')