extends layouts/MainLayout
include mixins/index.pug

block title
  | ui-kit

block content
  body.body
  .container    
    include sections/buttonsSection
    include sections/headingsSection
    include sections/textSection
    include sections/inputsSection
    include sections/modalSection
    include sections/dropdownSection