.body-text-22 {
  font-family: $font-family;
  font-size: 22px;
  line-height: 140%;
  color: $color-text;

  &.text-desktop-large {
    font-weight: 700;
  }

  &.text-tablet-medium {
    @media (max-width: 1200px) {
      font-weight: 600;
    }
  }

  &.text-small {
    @media (max-width: 768px) {
      font-weight: 400;
    }
  }
}

.body-text-20 {
  font-family: $font-family;
  font-size: 20px;
  line-height: 140%;
  color: $color-text;

  &.text-desktop-large {
    font-weight: 700;
  }

  &.text-tablet-medium {
    @media (max-width: 1200px) {
      font-weight: 600;
    }
  }

  &.text-small {
    @media (max-width: 768px) {
      font-weight: 400;
    }
  }
}

.body-text-18 {
  font-family: $font-family;
  font-size: 18px;
  line-height: 140%;
  color: $color-text;

  &.text-desktop-large {
    font-weight: 700;
  }

  &.text-tablet-medium {
    @media (max-width: 1200px) {
      font-weight: 600;
    }
  }

  &.text-small {
    @media (max-width: 768px) {
      font-weight: 400;
    }
  }
}

.body-text-16 {
  font-family: $font-family;
  font-size: 16px;
  line-height: 140%;
  color: $color-text;

  &.text-desktop-large {
    font-weight: 700;
  }

  &.text-tablet-medium {
    @media (max-width: 1200px) {
      font-weight: 600;
    }
  }

  &.text-small {
    @media (max-width: 768px) {
      font-weight: 400;
    }
  }
}

.body-text-14 {
  font-family: $font-family;
  font-size: 14px;
  line-height: 140%;
  color: $color-text;

  &.text-desktop-large {
    font-weight: 700;
  }

  &.text-tablet-medium {
    @media (max-width: 1200px) {
      font-weight: 600;
    }
  }

  &.text-small {
    @media (max-width: 768px) {
      font-weight: 400;
    }
  }
}
